<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <script src="/js/app.js"></script>
    <title>Freaky weather facts</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="fact-image img-responsive" src="/images/weather.jpg" alt="" srcset="">
        <h4>Prepare to be blown away, gang, with our 30 facts about the world’s weather!</h4>
        <ol class="facts">
            <li>You can tell the temperature by counting a cricket’s chirps!</li>
            <li>Sandstorms can swallow up entire cities.</li>
            <li>Dirt mixed with wind can make dust storms called black blizzards.</li>
            <li>A mudslide can carry rocks, trees, vehicles and entire buildings!</li>

            <li>The coldest temperature ever officially recorded was -89.2°C.</li>
            <li>Mild autumn weather often means bigger spiders in our homes.</li>
            <li>A heatwave can make train tracks bend!</li>
            <li>About 2,000 thunderstorms rain down on Earth every minute</li>
            <li>A 2003 heatwave turned grapes to raisins before they were picked from the vine!</li>
            <li>Lightning often follows a volcanic eruption.</li>
            <li> Raindrops can be the size of a housefly and fall at more than 30kmph.</li>
            <li> Cape Farewell in Greenland is the windiest place on the planet.</li>
            <li> Hurricanes can push more than 6m of water ashore.</li>
            <li> In July 2001 the rainfall in Kerala, India, was blood red!</li>
            <li> Blizzards can make snowflakes feel like pellets hitting your face.</li>
            <li> A hurricane in Florida, USA, caused 900 captive pythons to escape.</li>
            <li> Worms wriggle up from underground when a flood is coming.</li>
            <li> A thunderstorm can produce 160kmph winds!</li>
            <li> In Antarctica, snow can fall so hard you can’t see your hand in front of your face.</li>
            <li> A whiteout or heavy snowfall that makes it difficult to see, can make you feel sick.</li>
            <li> Wildfires sometimes create tornadoes made of fire called fire whirls.</li>
            <li> In 1972, a blizzard dumped 8m of snowfall on Iran, burying 200 villages.</li>
            <li> Some tornadoes can be faster than formula one racing cars!</li>
            <li>Black ice, a transparent coating of ice on a surface, can make pavements super-slippery.</li>
            <li> Some frogs get noisier just before it rains.</li>
            <li> In 525 BC a sandstorm buried hundreds of soldiers in an Egyptian desert.</li>
            <li> Waterspouts, or rotating columns of air over water, can make sea creatures rain down from the sky.</li>
            <li>The most damage ever caused by a thunderstorm was in 1995, when hailstones bigger than cricket balls
                fell in Texas, USA.</li>
            <li>In 1684, it was so cold that the River Thames froze solid for two months.</li>
            <li>Cats and dogs have been known to sense when a tornado is approaching.</li>
        </ol>
    </div>
    {{>footer}}
</body>

</html>
